enivornment=dev
release=dev
debug=False

neo4j_host=localhost
neo4j_port=7687
neo4j_username=neo4j
neo4j_password=password
neo4j_db_name=TheSettlements

jwt_secret=change-this-key-to-something-private
jwt_algorithm=HS256
jwt_access_token_expire_minutes=1440